fastapi
uvicorn # Keep it simple, not uvicorn[standard] for now
redis
websockets
aiohttp
faker
torch==1.13.1+cpu
torchvision==0.14.1+cpu
torchaudio==0.13.1+cpu
sentence-transformers==2.2.2
numpy<2.0
nltk
google-generativeai
aioredis==1.3.1